<div class="container">
    <form #addmovie="ngForm" >
        <div class="form-group" [ngClass]="{'has-error':(title.touched || title.dirty) && (!title.valid)}">
            <label>Movie id:</label>
            <input type="text" class="form-control" [(ngModel)]="id" name="id" #title="ngModel" placeholder="Enter the id of movie" required/>
            <span class="help-block" *ngIf="title.touched && !title.valid">
              <span *ngIf="title.errors.required"> You have not entered the id</span>
            </span>
          </div>
      <div class="form-group" [ngClass]="{'has-error':(title.touched || title.dirty) && (!title.valid)}">
        <label>Movie Name:</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name" #title="ngModel" placeholder="Enter the name of movie" required/>
        <span class="help-block" *ngIf="title.touched && !title.valid">
          <span *ngIf="title.errors.required"> You have not entered the name</span>
        </span>
      </div>
      <div class="form-group" [ngClass]="{'has-error':(myear.touched || myear.dirty) && (!myear.valid)}">
          <label>Release date:</label>
          <input type="text" class="form-control" [(ngModel)]="date" name="date" #myear="ngModel" placeholder="Enter the release date of movie"
            required/>
          <span class="help-block" *ngIf="myear.touched && !myear.valid">
            <span *ngIf="myear.errors.required"> You have not entered the year</span>
          </span>
        </div>  
      <div class="form-group" [ngClass]="{'has-error':(rate.touched || rate.dirty) && (!rate.valid)}">
        <label>Movie Rating:</label>
        <input type="text" class="form-control" [(ngModel)]="rating" name="rating" #rate="ngModel" placeholder="Enter the rating of movie"
          required/>
        <span class="help-block" *ngIf="rate.touched && !rate.valid">
          <span *ngIf="rate.errors.required"> You have not entered the rating</span>
        </span>
      </div>
      
      <div class="form-group" [ngClass]="{'has-error':(rate.touched || rate.dirty) && (!rate.valid)}">
          <label>Movie language:</label>
          <input type="text" class="form-control" [(ngModel)]="lang" name="lang" #rate="ngModel" placeholder="Enter the lang of movie"
            required/>
          <span class="help-block" *ngIf="rate.touched && !rate.valid">
            <span *ngIf="rate.errors.required"> You have not entered the lang</span>
          </span>
        </div>
    <br>
    <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Add Movie" (click)="addMovie(addmovie.value)" [disabled]="!addmovie.valid">Submit</button>
    <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Cancel" (click)="cancel()">Cancel</button>
    </form>
  </div>